@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@400;500;600;700&display=swap');

body {
  padding:0px;
  width: 100%;
  font-family: 'Outfit', sans-serif;
}
*{
  box-sizing: border-box;
}

h1,h2,h3,h4,h5{
  margin-bottom: 5px;
}
.loader{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(255, 255,255, 0.9);
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loaderImg {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .loaderImg {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app{
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.aside {
    width: 250px;
    padding: 30px;
    background: #f5fdf5;
}

.mainContain{
  width: calc(100% - 250px);
}
.specialFont{
  font-family: 'Lobster', sans-serif;
}
.aside .profile{
  font-size: 40px;
  color: #2b8fcb;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  padding: 20px;
  border: 7px solid #2b8fcb;
  transform: skew(-5deg, -5deg);
  background: aqua;
}

.aside ul{
  margin: 0;
  padding: 0;
  list-style: inside decimal;
}
.aside ul li{
  font-size: 20px;
  padding: 0 0 20px 0;
}
.aside ul li a{
  color: #2b8fcb;
  text-emphasis-color: aqua;
  text-decoration: none;

}
.wrap{
  width: 100%;
  display: flex;
  font-size: 14px;
  color: #555;
  flex-wrap: wrap;
}

.wrap_half{
  width: calc(50% - 20px);
  /* display: flex; */
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
.wrap_full{
  width: calc(100% - 20px);
  /* display: flex; */
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
.wrap_half2{
  width: calc(50% - 20px);
  display: flex;
  padding: 10px;
  margin: 10px;
  align-content: flex-start;
  flex-wrap: wrap;
}
/* .wrap_half:nth-child(odd){
  border-right: 1px dashed #ddd;
} */
@media (max-width: 960px){
  .wrap_half,
  .wrap_half2{
    width: calc(100% - 20px);
  }
}
.weather{
  width: 100%;
  /* border-right: 1px dashed #ddd; */
  /* padding: 0 10px; */
  position: relative;
}

.icon{
    margin-right: 7px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0px 3px;
    text-align: center;
}
.icon img{
  width: 15px;
  height: 15px;
  max-width: 100%;
  max-height: 100%;
}

.weather h3{
  font-size: 22px;
  color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: 400;
  align-items: center;
  margin-top: 0;
  line-height: 21px;
}
.tempNow{
  width: 100%;
  position: relative;
  font-size: 38px;
  color: #fff;
  font-weight: 700;
  line-height: 38px;
  text-transform: capitalize;
}
.tempNow .deg{
  font-size: 17px;
    display: inline-block;
    position: absolute;
    top: 9px;
    line-height: 14px;
}

.chooseWeather{
    width: 100%;
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    background: #f3f3f3;
    border-radius: 7px 7px;
    margin: 0 0 30px 0;
    justify-content: space-between;
}
.chooseWeather span{
  display: inline-block;
}
.selectedCountry{
  display: flex; 
  margin-top: 5px;
}
.selectedCountry input{
  font-size: 13px;
  color: #333;
  background: #fff;
  border: 1px solid #ddd;
  height: 50px;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
}
.selectedCountry input:hover,
  .selectedCountry input:focus{
  outline: none;
}
.selectedCountry button{
  background: #70ccf3;
  height: 50px;
  border-radius: 0 4px 4px 0;
  color:#fff;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}
.selectedCountry button{
  background: #287ea3;
}
.side_border{
  border-right: 1px dashed #bbb;
}
.bot_border{
  position:relative;
  padding-bottom: 25px;
}
.bot_border:after{
  content: "";
  position:absolute;
  bottom: -12px;
  left: 0;
  width: calc(100% - 20px);
  border-bottom: 1px dashed #bbb;
}

.weather_box{
  background: rgb(12,111,238);
  background: linear-gradient(45deg, rgba(12,111,238,1) 0%, rgba(67,142,237,1) 50%, rgba(115,188,249,1) 100%);
  width: calc(50% - 2px);
  display: flex;
  align-items: flex-start;
  padding: 16px;
  margin: 1px;
  flex-wrap: wrap;
  height: 110px;
}
.wrap:nth-of-type(1) .weather_box:nth-of-type(1){
  border-radius:5px 0 0 0;
}
.wrap:nth-of-type(1) .weather_box:nth-of-type(2){
  border-radius: 0 5px 0 0;
}
.wrap:nth-of-type(2) .weather_box:nth-of-type(1){
  border-radius: 0 0 0 5px;
}
.wrap:nth-of-type(2) .weather_box:nth-of-type(2){
  border-radius:  0 0 5px 0;
}


.showTime{
  display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    color: rgb(12,111,238);
    line-height:30px;
    justify-content: flex-end;
    font-weight: 700;
}
.showTime span{
  display: block;
  width: 100%;
  height: 15px;
  font-size: 14px;
  color: #888;
  text-align: right;

}

.weatherFooter{
  width: 100%;
  font-size: 19px;
  font-weight: 700;
  background: #ddd;
  min-height: 50px;
  border-radius: 5px;
  padding: 10px 28px;
  margin: 25px 0;
}
.weatherFooter span{
  color: #2b8fcb;
}

.city input {
  width: 230px;
}


/* .................................. weather ends here ...................................... */

.dictionary {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 30px;
  background:#f4f4f4;
  border-radius: 5px;
  /* min-height: 100vh; */
  position: relative;
  margin: 40px 0 0 0;
}
.inputBox{
  width: 100%;
}
.text1{
  width: 100%;
  display: block;
  padding: 0 0 10px 0;
  font-size: 17px;
  color: #4691ee
}
.inputBox input{
  background: #fff; 
  border: 1px solid #ddd;
  height: 60px;
  border-radius: 4px 0 0 4px;
  padding: 0 10px;
  width: 70%;
  color: #777;
  font-size: 14px;
}
.inputBox input:hover, 
.inputBox input:focus{
  outline: none;
}
.inputBox button{
  background: #70ccf3;
  height: 60px;
  border-radius: 0 4px 4px 0;
  color:#fff;
  border: none;
  padding: 0 15px;
  cursor: pointer;
  width: 30%;
  font-size: 20px;
}
.modalBg{
  width: 100%;
  height: 100vh;
  background: rgba(41, 126, 163, 0.8);
  position: fixed;
  left: 0;
  top:0;
  z-index: 100;
}
.wordDetails, .deff{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.wordDetails {
  background: #eaeded;
  position: fixed;
  top: 20vh;
  max-height: 60vh;
  overflow: auto;
  left: 10vw;
  width: 80vw;
  padding: 10px 40px;
  z-index: 110;
}
.modalBg .cross{
  position: absolute;
  right: 20px;
  top: 20px;
  background: none;
  border: none;
  font-size: 40px;
}
.mainWord{
  width: 100%;
  margin: 20px 0;
  font-size: 70px;
  color: #777;
  font-weight: 400;
  letter-spacing: 0.4;
}
.mainWord .pronan{
  display: block;
  font-size: 20px;
  color: #999;
}

.deff h3{
  font-size: 20px;
  color: #444;
  width: 100%;
}
.deffList{
  list-style: none;
  padding: 0 0 12px 20px;
  margin: 0;
}
.deffList p{
  font-size: 15px;
  color: #333;
  padding: 0;
    margin: 0;
}
.deffList div{
  font-size: 13px;
  color: #777;
  font-style: italic;
  margin-top: 7px;
}

/* ............................ blog.................... */

.blog_header {
  width: 100%;
  margin: 0 0 15px;
  font-weight: 500;
  color: #2b8fcb;
  font-size: 24px;
  padding: 0;
}
.blog_header .subtitle{
  font-size: 15px;
  color: #000;
  display: block;
  line-height: 30px;
}
.createBlog{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  background: #f4f4f4;
  border-radius: 5px;
}
.createBlog input,
.createBlog textarea{
  width: 100%;
  border: 1px solid #3a93b5;
  height: 40px;
  padding: 0 10px;
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  color: #3a93b5;
}
.createBlog input:focus,
.createBlog textarea:focus{
  outline: none;
}
.createBlog input::placeholder,
.createBlog textarea::placeholder{
  color:#3a93b5
}
.createBlog textarea{
  height: 150px;
  font-family: inherit;
  padding-top: 10px;
}
.createBlog button{
  height: 50px;
  min-width: 80px;
  background: #70ccf3;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 20px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
}
.createBlog button:disabled{
 cursor: no-drop;
 opacity: 0.6;
}

.blogList{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-content: flex-start;
  padding: 0;
  margin: 0;
}
.blogList li{
    width: 100%;
    margin-bottom: 12px;
    padding: 20px;
    background: linear-gradient(45deg, rgba(12,111,238,1) 0%, rgba(67,142,237,1) 50%, rgba(115,188,249,1) 100%);
  border-radius: 5px;
}
.blogList .title{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 8px;
  margin: 0;
}
.blogList .content{
  color: #f5f5f5;
  margin: 0;
  font-size: 15px;
  padding-bottom: 8px;
}

.blogFooter{
  padding-bottom: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #fff;
  font-weight: 500;
}
.error{
  width: 100%;
  color: #ff0022;
  padding-bottom: 12px;
}

.nolist{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  font: 20px sans-serif;
  color: #aaa;
}
.mt-40{
  margin-top: 40px;
}

.chart{
  width: 100%;
  padding: 0px;
}

.capCase{
  text-transform: capitalize;
}
.chartWeather{
  width: 100%;
  position: relative;
}
/* ////////////////////////////////////////////////////////////////////////////////////////////// */

.chart.pollution{
   background: url(../images/pollu.jpg) 0 0 no-repeat;
    background-size: cover;
    min-height: 302px;
    border-radius: 5px;
    position: relative;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} 
.chart.pollution::after{
  background: rgba(238, 144, 12, 0.7);
  content: "";
  position: absolute;
  z-index: 2;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  border-radius: 5px;

}
.pollution ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}
.pollution ul::after{
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ffceb3;
  position: absolute;
  top: 46%;
}
.pollution ul li{
  padding: 0 16px;
  text-align: center;
  position: relative;
}
.pollution ul li::after{
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffceb3;
  position: absolute;
  top: 37%;
}
.pollution ul li h3{
  font-size: 29px;
    color: #76340b;
    margin-top: 5px;
}
.pollution ul li p{
  font-size: 22px;
  color: #fafafa;
  font-weight: 600;
}


.chooseWeather .good,
.chooseWeather .fair,
.chooseWeather .moderate,
.chooseWeather .poor,
.chooseWeather .vPoor {
 background: #38a328;
 padding: 2px 10px;
 color:#fff;
 font-weight: 600;
}
.chooseWeather .fair {
 background: #26631d;
}
.chooseWeather .moderate {
 background: #c7b703;
}
.chooseWeather .poor {
 background: #ee4508;
}
.chooseWeather .vPoor {
  background: #ee0808;
 }
 .chooseWeather.left{
  display: inline-block;
  font-size: 19px;
 }


